<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ordersytem_rest"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
<application
        android:name="com.example.ordersystem_rest.utils.RestApplication"
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light.NoActionBar" 
      >
        <activity
            android:name="com.example.ordersytem_rest.activity.MainActivity" 
          >
        </activity>
        <activity android:name="com.example.ordersytem_rest.activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.ordersytem_rest.activity.ResetPassActivity"></activity>
        <activity android:name="com.example.ordersytem_rest.activity.CusienActivity"></activity>
        <activity android:name="com.example.ordersytem_rest.activity.MenuActivity"></activity>
        <activity android:name="com.example.ordersytem_rest.activity.UserActivity"></activity>
        <activity android:name="com.example.ordersytem_rest.activity.StatisticActivity"></activity>
        <activity android:name="com.example.ordersytem_rest.activity.RestaurantActivity"></activity>
        <activity android:name="com.example.ordersytem_rest.activity.OrderActivity"></activity>
        <activity android:name="com.example.ordersytem_rest.activity.EditCusineActivity"></activity>
        <activity android:name="com.example.ordersytem_rest.activity.AddCusineActivity"></activity>
        <activity android:name="com.example.ordersystem_rest.utils.test">
              
        </activity>
        <receiver
            android:name="com.example.ordersystem_rest.utils.NetworkReceiver"
            android:label="NetwordkConnetction" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        
    </application>

</manifest>
